<!DOCTYPE html>
<html>
  <head>
    <title>Page Title</title>
  </head>
  <body>
    <% include ../Share/bootstrap.ejs%>
    <% include ../Share/top.ejs%>
    <% include ../Share/tab.ejs%>

    <!--Satellite Information-->
    <div class="container">
      <div class="row" >
        <div class="col-8" style="">
          <font size="4" face="Tahoma" > | Satellite Information</font>
        </div>
        <div class="col-4" style="text-align:right;">
          <button type="button" data-toggle="modal" data-target="#createSatelliteModal"><font size="2">+Create</font></button>
        </div>
      </div>
      <div class="row" style="height=10px;background-color:#cccccc">
        <div class="col-12">
        </div>
      </div>
      <br>
      <div class="row" style="" >
        <div class="col-4"></div>
        <div class="col-4" style="">
          <font size="1">
          <table class="table table-default table-hover table-sm" >
            <thead >
              <tr >
                <th>ID</th>
                <th>Satellite Name</th>
                <th>Resolution</th>
                <th>Detail</th>
              </tr>
            </thead>
            <tbody>
              <% for(var i=0; i<SATELLITE.Datas.length; i++) {%>
                <tr >
                  <td id="ID_<%= i%>"><%= SATELLITE.Datas[i].ID %></td>
                  <td><input id="NAME_<%= i%>" readonly value="<%= SATELLITE.Datas[i].NAME %>" /></td>
                  <td><input id="RESOLUTION_<%= i%>" readonly value="<%= SATELLITE.Datas[i].RESOLUTION %>" /></td>
                  <td><button type="button" onclick="callDetail(<%= i%>)"><span class="glyphicon glyphicon-plus"></span>Detail</button></td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </font>
            <b><div style="text-align:center">
                <% if(SATELLITE.NowPage > 10) { %>
                  <a href="/AdminSatellite/<%= (parseInt(SATELLITE.NowPage/10))*10%>"> [PRE] </a>
                <%}%>
                <% for(var i=parseInt((SATELLITE.NowPage-1)/10)*10; i< (parseInt((SATELLITE.NowPage-1)/10)+1)*10;i++) { if (i >= SATELLITE.TotalPage) break; %>
                <a href="/AdminSatellite/<%= i+1%>"> <%= i+1%> </a>
                <% } %>
                <% if(parseInt((SATELLITE.NowPage-1) / 10) + 1 < parseInt(SATELLITE.TotalPage / 10)) { %>
                    <a href="/AdminSatellite/<%= i+1%>"> [NEXT] </a>
                <%}%>
              </div></b>
              <div class="col-4"></div>
            </div>
          </div>
          <script>
          function callDetail(idx) {
            $('#Detail_ID').val($('#ID_'+idx).html());
            $('#Detail_NAME').val($('#NAME_'+idx).val());
            $('#Detail_RESOLUTION').val($('#RESOLUTION_'+idx).val());
            $('#modifySatelliteModal').modal('show');
          }
          </script>
          <% include modal.ejs%>
        </div>
      </div>
    </div>
  </body>
</html>
