<!-- Create Satellite Information -->
<div class="modal fade" id="createSatelliteModal" role="dialog">
  <div class="modal-dialog" >
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Registration</h4>
      </div>
      <form id="createFrom" name="createForm" >
        <div class="modal-body">
          <div class="form-group">
            <table class="table table-sm" >
              <thead >
                <tr >
                  <th>Satellite Name</th>
                  <th>Resolution(km)</th>
                </tr>
              </thead>
              <tbody>
                <tr >
                  <td><input name="SatelliteName" id="Satellite Name"></td>
                  <td><input name="Resolution" id="Satellite Resolution"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" data-dismiss="modal">Cancle</button>
          <input type="button" value="Registration" onclick="createFormSubmit()" />
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modify Satellite Information -->
<div class="modal fade" id="modifySatelliteModal" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" >
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Detail Satellite Information</h4>
      </div>
      <form id="modifyFrom" name="modifyFrom" >
        <div class="modal-body">
          <div class="form-group">
            <table class="table table-sm " >
              <thead>
                <tr >
                  <th>ID</th>
                  <th>Satellite Name</th>
                  <th>Resolution(km)</th>
                </tr>
              </thead>
              <tbody>
                <tr >
                  <td><input name="ID" id="Detail_ID" readonly></td>
                  <td><input name="NAME" id="Detail_NAME"></td>
                  <td><input name="RESOLUTION" id="Detail_RESOLUTION"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </form>
      <div class="modal-footer">
      </div>
      <div class="row">
        <div class="col-1">
        </div>
          <div class="col-4">
            <button type="button" data-dismiss="modal" align="left;" onclick="deleteSatellite()">Delete</button>
          </div>
          <div class="col-2">
          </div>
          <div class="col-4">
            <button type="button" data-dismiss="modal">Cancle</button>
            <input type="button" value="Update" align="left;" onclick="modifyFormSubmit()" />
          </div>
          <div class="col-1">
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>

  <script>
  function createFormSubmit() {
    var params = jQuery("#createFrom").serialize(); // serialize() : 입력된 모든Element(을)를 문자열의 데이터에 serialize 한다.
    $.ajax({
      url: 'http://localhost:4567/satellite/create',
      type: 'POST',
      data:params,
      enctype:'multipart/form-data',
      contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
      dataType: 'html',
      success: function (result) { alert(result);window.location.reload(true);},
      error:  function(result) { alert('ERROR : ' + result);}
    });
    $('#createSatelliteModal').modal('hide');
  }
  function modifyFormSubmit() {
    var params = jQuery("#modifyFrom").serialize(); // serialize() : 입력된 모든Element(을)를 문자열의 데이터에 serialize 한다.
    $.ajax({
      url: 'http://localhost:4567/satellite/update',
      type: 'POST',
      data:params,
      enctype:'multipart/form-data',
      contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
      dataType: 'html',
      success: function (result) { alert(result);window.location.reload(true);},
      error:  function(result) { alert('ERROR : ' + result);}
    });
    $('#modifySatelliteModal').modal('hide');
  }
  function deleteSatellite() {
    $.ajax({
      url: "http://localhost:4567/satellite/delete/" + $('#Detail_ID').val(),
      type: 'get',
      contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
      dataType: 'html',
      success: function (result) { alert(result);window.location.reload(true);},
      error:  function(result) { alert('ERROR : ' + result);}
    });
    $('#modifySatelliteModal').modal('hide');
  }
</script>
