<!--Satellite Information-->
<div class="container" >
    <div class="row" >
        <div class="col-12" style="">
            <h4><font face="Tahoma" > | Set Admin Password</font></h4>
        </div>
    </div>
        <div class="row" style="height=10px;background-color:#cccccc">
        <div class="col-12">
        </div>
    </div>
    <br>
    <div class="row" style="">
    <div class="col-2"></div>
        <div class="col-8">
              <form style="align:center">
                <div class="form-group">
          <div class="row">
                         <div class="col-2"></div>
            <div class="col-3">
                            <label for="exampleInputEmail1">Now Password</label>
            </div>
            <div class="col-3">
                            <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
            </div>
          </div>
                </div>
                 <div class="form-group">
                    <div class="row">
                         <div class="col-2"></div>

            <div class="col-3">
                            <label for="exampleInputEmail1">New Password</label>
                        </div>
                        <div class="col-3">
                            <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
                        </div>
                    </div>
                </div>                <div class="form-group">
                    <div class="row">
                         <div class="col-2"></div>

            <div class="col-3">
                            <label for="exampleInputEmail1">Confirm Password</label>
                        </div>
                        <div class="col-3">
                            <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
                        </div>
                    </div>
                </div>
        <button style="display: block;margin-left: auto;margin-right: auto" type="button" class="btn btn-primary " data-toggle="modal" data-target="#changePasswordModal">Change</button>
            </form>
        </div>
    </div>
