<!-- Modal -->
  <div class="modal fade" id="changePasswordModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Change Admin Password</h4>
        </div>
        <div class="modal-body">
          <p>Really???</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancle</button>
      <button type="button" class="btn btn-primary" data-dismiss="modal">Change</button>
        </div>
      </div>
    </div>
  </div>
</div>
