<div class="container">
    <div class="row" >
        <div class="col-12" align="middle" >
        <img src = "images/Tab_Menu.png" height="50" usemap="#planetmap" />
        <map name="planetmap">
          <area shape="rect" coords="0,0,245,49" href="/AdminHistory/1" alt="1">
          <area shape="rect" coords="246,0,485,49" href="/AdminSatellite/1" alt="2">
          <area shape="rect" coords="486,0,730,49" href="/AdminProduct/1" alt="3">
          <area shape="rect" coords="731,0,975,49" href="/AdminTargetServer/" alt="4">
        </map>
      </div>
    </div>
</div>
<!--Line-->
    <div class="row" style="height=10px;background-color:#cccccc">
        <div class="col-12">
        </div>
    </div>
<br>
