<div class="container">
  <div class="row" >
  <div class="col-11" align="middle" >  </div>
    <div class="col-1" align="middle" >
    <font size="2" > <button onclick="logout()">Logout</button></font>
  </div>
</div>
</div>
<div class="container">
    <div class="row" >
        <div class="col-12" align="middle" >
        <img src = "images/Tab_Menu.png" height="46" usemap="#planetmap" />
        <map name="planetmap">
          <area shape="rect" coords="0,0,224,46" href="/AdminHistory/1" alt="1">
          <area shape="rect" coords="226,0,446,46" href="/AdminSatellite/1" alt="2">
          <area shape="rect" coords="447,0,670,46" href="/AdminProduct/1" alt="3">
          <area shape="rect" coords="671,0,898,46" href="/AdminTargetServer/" alt="4">
          <area shape="rect" coords="899,0,1122,46" href="/AdminPassword/" alt="4">
        </map>
      </div>
    </div>
</div>
<!--Line-->
    <div class="row" style="height=10px;background-color:#cccccc">
        <div class="col-12">
        </div>
    </div>
<br>
<script>
function logout() {
  window.location.href = '/logout';
}
</script>
