<div class="container" style="height:70px">
    <div class="row" style="height:10px">
    </div>
    <div class="row" >
        <div class="col-2" >
            <img src = "/images/top_nifslogo.png" align="center" />
        </div>
        <div class="col-8" style="text-align:center">
            <h1><font face="Tahoma">Satellite Data Relay Service</font></h1>
        </div>
        <div class="col-2" style="">
          <pre>

<h5><b>위성해양정보실</b></h5>
        </pre>
        </div>
    </div>
</div>
<!--TITLE-->
<div class="row" style="height:38px">
   <div class="col-12" style="background-color:#005890;text-align:center">
       <h2><font face="Tahoma" color="white"><%= title %></font></h2>
   </div>
</div>
<br>
